@font-face {
  font-family: Engschrift;
  src: url(fonts/dinengschriftstd-webfont.eot); }

@font-face {
  font-family: Mittelschrift;
  src: url(fonts/DINMittelschriftStd.otf); }

body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 95%;
  background: #333; }

p {
  font-family: 'Mittelschrift', 'Arial', san-serif;
  color: #ffffff;
  line-height: 1em;
  text-align: center;
  font-size: 1.5em; }

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Engschrift', 'Arial', san-serif;
  color: #ffffff; }

ul {
  padding-left: 2%;
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1.5em;
  width: 33%;
  border-radius: 0 0 3px 4px; }
  ul li {
    font-family: 'Engschrift', 'Arial', san-serif;
    list-style-type: none;
    cursor: pointer;
    color: #555; }
    ul li::hover {
      background-color: rgba(255, 255, 255, 0.9); }

input {
  font-family: 'Engschrift', 'Arial', san-serif;
  line-height: 1.5em;
  font-size: 1em;
  text-align: center; }

.super-class {
  font-weight: bold;
  color: red; }

.container {
  width: 100%; }

.logo {
  margin: 0 auto;
  width: 50%;
  display: block; }

.logo-animate {
  margin: 0;
  display: block; }

.status {
  visibility: hidden;
  display: none; }

.wrapper {
  max-width: 400px;
  width: 95%;
  margin: 0 auto; }

#total {
  color: #ffffff;
  font-size: 4em; }

div,
label {
  color: #ffffff;
  font-family: 'Mittelschrift', 'Arial', san-serif; }

#origin,
#end {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin: 1em auto;
  display: block;
  width: 95%; }

input {
  font-family: 'Engschrift', 'Arial', san-serif; }
  input:focus {
    outline: 0; }

#btnSubmit {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  background-color: #ffffff;
  color: #ccc;
  border-radius: 6px;
  font-family: 'Helvetica light','Arial';
  line-height: 1.5em;
  font-size: 1.5em;
  cursor: pointer; }

@media (max-width: 800px) {
  .wrapper {
    max-width: 100%;
    width: 95%; }
  body {
    font-size: 2em; }
  #logo {
    width: 35% !important;
    margin: 0 auto; }
  p, div, #btnSubmit {
    font-size: 1em; } }
