html { 
  background: url(../images/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
//Colors
$white: #ffffff;

p{
    font-family: 'Arial', san-serif;
    color: $white;


}

h1,h2,h3,h4,h5{
    font-family: 'Arial', san-serif;
    color: $white;

}