@import 'partials/_fonts.scss'; //imports all partials
//Colors
$white: #ffffff;
$blue: blue;
body {
    background: url(../images/bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 95%;
}

p {
    font-family: 'Mittelschrift', 'Arial', san-serif;
    color: $white;
    line-height: 1.3em;
    text-align: center;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Engschrift', 'Arial', san-serif;
    color: $white;
}

ul {
    padding-left: 2%;
    margin-top: 0px;
    background: rgba(255, 255, 255, .6);
    line-height: 1.5em;
    width: 33%;
    border-radius: 0 0 3px 4px;
    li {
        font-family: 'Engschrift', 'Arial', san-serif;
        list-style-type: none;
        cursor: pointer;
        color: #555;
        &::hover {
            background-color: rgba(255, 255, 255, .9);
        }
    }
}

input {
    font-family: 'Engschrift', 'Arial', san-serif;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
}

.super-class {
    font-weight: bold;
    color: red;
}

.container {
    width: 100%;
}

.wrapper {
    max-width: 188px;
    width: 95%;
    margin: 0 auto;
    padding: 10% 0 0 0;
}

#total {
    color: $white;
    font-size: 4em;
}

div,
label {
    color: $white;
    font-family: 'Mittelschrift', 'Arial', san-serif;
}

#origin,
#end {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 6px;
    color: white;
    text-align: center;
    margin: 1em auto;
    display: block;
    width: 95%;
}

input {
    font-family: 'Engschrift', 'Arial', san-serif;

    &:focus {
        outline: 0;
    }
}

#btnSubmit {
    text-align: center;
    width: 95%;

}

@media (max-width: 800px) {
    .wrapper {
        max-width: 100%;
        width: 95%;
    }
    #btnSubmit {
        text-align: center;
        width: 95%;
        margin: 0 auto;
    }
    body{
        font-size: 2em;
    }
    
}