@import 'partials/_fonts.scss'; //imports all partials
@import 'partials/_typehead.scss';
body {
    background: url(../images/bg.jpg) #26393e no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100%;
    margin: 0;
    display: block;
    height: 100%;
    position: fixed;
}

p {
    @include font('DIN');
    color: $white;
    line-height: 1em;
    text-align: center;
    font-size: 22px;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Engschrift', 'Arial', san-serif;
    color: $white;
}

ul {
    padding-left: 2%;
    margin-top: 0px;
    background: rgba(255, 255, 255, .6);
    line-height: 1.5em;
    width: 33%;
    border-radius: 0 0 3px 4px;
    li {
        font-family: 'Engschrift', 'Arial', san-serif;
        list-style-type: none;
        cursor: pointer;
        color: #555;
        &::hover {
            background-color: rgba(255, 255, 255, .9);
        }
    }
}

input {
    font-family: 'Engschrift', 'Arial', san-serif;
    line-height: 1.5em;
    font-size: 1em;
    text-align: center;
}

.super-class {
    font-weight: bold;
    color: red;
}

.container {
    width: 960px;
    max-width: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

.logo {
    margin: 0 auto;
    width: 17%;
    display: block;
    float: left;
    top: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
}

.logo-animate {
    margin: 0;
    display: block;
}

.status {
    visibility: hidden;
    display: none;
}

.wrapper {
    width: 960px;
    margin: 0 auto;
    top: 0;
    bottom: 0;
    position: relative;
    display: inline-block;
}

#total {
    color: $blue;
    font-size: 4em;
    line-height: 0;
    font-family: 'DIN', Arial;
}

div,
label {
    font-family: 'Mittelschrift', 'Arial', san-serif;
}

input {
    font-family: 'Engschrift', 'Arial', san-serif;
    &:focus {
        outline: 0;
    }
}

#btnSubmit,
#btnReset,
#btnMap {
    @include font('Mittelschrift');
    font-size: 16px;
    text-align: center;
    height: 50px;
    margin: 0 auto;
    color: white;
    border-radius: 6px;
    line-height: 1.5em;
    font-size: 16px;
    cursor: pointer;
    margin-top: 22px;
    color: $blue;
    line-height: 3em;
    width: 300px;
    box-sizing: border-box;
    display: inline-block;
    height: 100%;
    &:hover {
        background: transparent;
        color: #ffffff;
        border: 1px solid white;
    }
}

#btnReset,
#btnMap {
    width: 46%;
    float: left;
    text-align: center;
    text-transform: uppercase;
}

#btnReset {
    margin-right: .8em;
    border: 1px solid white;
    color: white;
    &:hover {
        background: #ffffff;
        color: $blue;
    }
}

#btnMap,
#btnSubmit {
    background-color: #fff;
}

.btnContainer {
    margin: 0 auto;
    width: 93%;
    height: 89px;
}

.airplanes {
    position: absolute;
    left: 500px;
}

.ui-widget {
    width: 551px;
    background: url('../images/airplanes.png');
    background-position: 50%;
    background-repeat: no-repeat;
    height: 536px;
    margin: 6em auto;
    .details {
        width: 54%;
        margin: 0 auto;
        padding-top: 5em;
    }
}

.ui-widget-2 {
    width: 551px;
    background: url('../images/airplanes.png');
    background-position: 50%;
    background-repeat: no-repeat;
    height: 536px;
    margin: 6em auto;
    .details {
        width: 48%;
        margin: 0 auto;
        padding-top: 2.1em;
    }
}

.typeahead {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    background: transparent;
    border: 2.5px solid #fff;
    color: white;
    font-size: 24px;
    width: 95%;
}

.main{
    margin: 350px auto;
    max-width: 400px;
    display: block;


}

img{
    width: 100px;
    border-radius: 100px 100px 100px 100px;
    padding: 2em

}
@import 'partials/breakpoint';
