@font-face {
  font-family: Engschrift;
  src: url(fonts/DINEengschriftStd.otf);
}
@font-face {
  font-family: Mittelschrift;
  src: url(fonts/DINMittelschriftStd.otf);
}
/* line 5, ../sass/app.scss */
body {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 95%;
}

/* line 14, ../sass/app.scss */
p {
  font-family: 'Mittelschrift', 'Arial', san-serif;
  color: #ffffff;
  line-height: 1.3em;
  text-align: center;
}

/* line 21, ../sass/app.scss */
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Engschrift', 'Arial', san-serif;
  color: #ffffff;
}

/* line 30, ../sass/app.scss */
ul {
  padding-left: 2%;
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1.5em;
  width: 33%;
  border-radius: 0 0 3px 4px;
}
/* line 37, ../sass/app.scss */
ul li {
  font-family: 'Engschrift', 'Arial', san-serif;
  list-style-type: none;
  cursor: pointer;
  color: #555;
}
/* line 42, ../sass/app.scss */
ul li::hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 48, ../sass/app.scss */
input {
  font-family: 'Engschrift', 'Arial', san-serif;
  line-height: 1.5em;
  font-size: 1em;
  text-align: center;
}

/* line 55, ../sass/app.scss */
.super-class {
  font-weight: bold;
  color: red;
}

/* line 60, ../sass/app.scss */
.container {
  width: 100%;
}

/* line 64, ../sass/app.scss */
.wrapper {
  max-width: 188px;
  width: 95%;
  margin: 0 auto;
  padding: 10% 0 0 0;
}

/* line 71, ../sass/app.scss */
#total {
  color: #ffffff;
  font-size: 4em;
}

/* line 76, ../sass/app.scss */
div,
label {
  color: #ffffff;
  font-family: 'Mittelschrift', 'Arial', san-serif;
}

/* line 82, ../sass/app.scss */
#origin,
#end {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 6px;
  color: white;
  text-align: center;
  margin: 1em auto;
  display: block;
  width: 95%;
}

/* line 94, ../sass/app.scss */
input {
  font-family: 'Engschrift', 'Arial', san-serif;
}
/* line 97, ../sass/app.scss */
input:focus {
  outline: 0;
}

/* line 102, ../sass/app.scss */
#btnSubmit {
  text-align: center;
  width: 95%;
}

@media (max-width: 800px) {
  /* line 109, ../sass/app.scss */
  .wrapper {
    max-width: 100%;
    width: 95%;
  }

  /* line 113, ../sass/app.scss */
  #btnSubmit {
    text-align: center;
    width: 95%;
    margin: 0 auto;
  }

  /* line 118, ../sass/app.scss */
  body {
    font-size: 2em;
  }
}
