/* line 6, ../sass/app.scss */
html {
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* line 14, ../sass/app.scss */
p {
  font-family: 'Mittelschrift','Arial', san-serif;
  color: #ffffff;
  line-height: 1.3em;
}

/* line 21, ../sass/app.scss */
h1, h2, h3, h4, h5 {
  font-family: 'Engschrift','Arial', san-serif;
  color: #ffffff;
}

/* line 28, ../sass/app.scss */
ul {
  padding-left: 2%;
  margin-top: 0px;
  background: rgba(255, 255, 255, 0.6);
  line-height: 1.5em;
  width: 33%;
  border-radius: 0 0 3px 4px;
}
/* line 35, ../sass/app.scss */
ul li {
  font-family: 'Engschrift','Arial', san-serif;
  list-style-type: none;
  cursor: pointer;
  color: #555;
}
/* line 40, ../sass/app.scss */
ul li::hover {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 47, ../sass/app.scss */
input {
  font-family: 'Engschrift','Arial', san-serif;
  line-height: 1.5em;
  lineheight: 1.5em;
  font-size: 1em;
}

/* line 57, ../sass/app.scss */
.super-class {
  font-weight: bold;
  color: red;
}

/* line 62, ../sass/app.scss */
.container {
  width: 100%;
}

/* line 66, ../sass/app.scss */
.wrapper {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  padding: 15% 10% 10% 30%;
}
